/* coding:utf-8-unix mode:web */

body{
    background-color: #b6a5d4;
    font-family: Helvetica, Arial, Sans-Serif, Noto Color Emoji;
}

:is(h1, h2, h3, h4, h5, h6){
    color: #4e4371;
    font-family: Fira Sans, Open Sans;
    text-align: center;
}

img{
    width: 100%;
}

a {
    color: #0b6517;
}

a:hover {
    /* Fancy schmancy hover effects */
    color: #0fbe27;
    transition: color 0.25s linear;
}

.os-text-logo{
    height: 10px;
    width: 10px;
}

.shadow{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

#titlediv {
    margin: 0 auto;
    width: 40%;
}

#why-i-love-linux {
    border-style: solid;
    border-radius: 3px;
    border-width: 3px;
}

#card{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 2%;
    border-radius: 15px;
    overflow: hidden;
}

footer{
    position: auto;
    bottom: 0;
    margin: auto;
    padding-top: 10%;
    width: 50%;
    text-align: center;
}

#tux-img{
    float: right;
    width: 10%;
}
