/* coding:utf-8-unix mode:web */
/* This is pretty self-explainatory */
body{
    background-color: #b6a5d4;
    font-family: Helvetica, Arial, Sans-Serif, Noto Color Emoji;
}

:is(h1, h2, h3, h4, h5, h6){
    color: #4e4371;
    font-family: Fira Sans, Open Sans;
    text-align: center;
}

.shadow{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

#card{
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 2%;
    border-radius: 15px;
    overflow: hidden;
}

footer{
    position: auto;
    bottom: 0;
    margin: auto;
    padding-top: 10%;
    width: 50%;
    text-align: center;
}

#gentoo-logo-div{
    width: 10%;
    position: auto;
    margin: auto;
}

#gentoo-logo{
    width: 100%;
}

#why-linux-content{
    float:left;
}
#why-linux-img{
    float:right;
}
